
/* font-family: source-han-serif-japanese, serif;
font-weight: 700;
font-style: normal;

Source Han Serif Regular

font-family: source-han-serif-japanese, serif;
font-weight: 400;
font-style: normal; */

/* font-family: sheila, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: ambroise-std,serif;
font-weight: 800;
font-style: normal; */


body{
    margin:0;
    padding:0;
}

header{
    background-color: #fff;
    text-align: center;
}

.number{
    font-family: sheila, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.number p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.page{
    font-family: ambroise-std,serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
}

.page p{
    margin: 0px 0px 20px 0px;
}

.main{
width: 80%;
margin-bottom: 20px;
display: flex;
justify-content: center;
}


#text {
display: block;
width: 45%;
height: 550px;
padding: 40px;
-webkit-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
font-size: 20px;
line-height: 2em;
overflow-x: scroll;
font-family: source-han-serif-japanese;
font-weight: 400;
}



#title {
display: block;
width: 10%;
height: 550px;
padding: 40px;
-webkit-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
font-size: 20px;
line-height: 2em;
overflow-x: scroll;
font-family: source-han-serif-japanese;
font-weight: 700;
}


.memory{
display: flex;
justify-content: center;
}

#save,#next,#prev,#clear{
    font-family: source-han-serif-japanese;
    font-size: 16px;
    padding: 0px 70px;
    cursor: pointer;
}
